* {
    font-family: 'Open Sans', sans-serif;
}


main {
    margin: auto;
}

.sec_paises {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

/* Estilos para cada país */
.pais {
    background-color: #f2f2f2;
    border: 1px solid #00000028;
    padding: 20px 10px;
    border-radius: 5px;
    text-align: center;
}

.bandeira {
    width: 150px;
    height: 100px;
    margin-bottom: 10px;
}

/* Estilos para o texto do país */
.pais p {
    margin: 0px;
}

div.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    height: 10vh;
}

button {
    padding: 10px 30px;
    width: fit-content;
    height: max-content;
}

a {
    text-decoration: none;
}